/* Formas */

.btn-default {
    border-color: black;
    color: #fff;
    background-color: black;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #132F3E;
    background-color: #f2f2f2;
}

.btn-primary {
    border-color: #12A79C;
    color: black;
    background-color: #12A79C;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    border-color: #020621;
    color: white;
    background-color: #020621;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-xl {
    padding: 1% 1%;
    background-color: #05AF3C;
}

.btn-xl2 {
    padding: 1% 1%;
    background-color: #12A79C;
}