/* Layout */

header, footer {
    background-color: #12A79C;
    padding: 10px 0;
    box-sizing: border-box;
    color: #FFF;
    width: 100%;
}

.layout_title {
    color: #FFF;
    underline: none;
}

.layout_a {
    color: #FFF;
    transition: all 3s linear;
}

.layout_a:hover {
    text-decoration: underline;
    color: #FFF;
    background-color: #132F3E;
}

header {
    top: 0;
    position: fixed;
}

footer {
    bottom: 0;
}
header img {
    width: 50%;
    display: block;
}

img {
    width: 25%;
    height: auto;
}

.icon {
    width: 1%
    height: auto;
}

.same-height {
    max-height: 154px;
    overflow: hidden;
}

.float {
    display: inline;
    max-width: 15%;
}
