/* Secciones del sitio */

.home {
    background: #FFFFFF url('../assets/logo_final.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
}

.full-height {
    height: 70%;
    padding: 35% 0%;
}

@media (min-width: 985px) {
    .full-height {
        height: 100%;
        padding: 15% 0%;
    }
}

.single {
    padding: 10% 0;
}

.single p{
    color: black;
}

.darker {
    padding: 10% 0;
    background-color: #132F3E;
}

.darker h2, p{
    color: white;
} 

@media (min-width: 985px){

    .darker {
        padding: 10% 0;
        background: #FFFFFF url('../assets/logo_final.jpg') no-repeat center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        text-align: center;
        color: #FFFFFF;
        box-sizing: border-box;
    }

    .darker p{
        color: white;
    }
}

.info {
    background-color: #eaeff5;
    color: #888d9b;
    padding: 20px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.kickstarter {
    background-color: black;
    padding: 1.5% 0;
    box-sizing: border-box;
    color: #FFF;
    width: 100%;
}